<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css" rel="stylesheet">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>

<body>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var xhr = new XMLHttpRequest()
            xhr.open('POST', 'auth', true)
            xhr.send(JSON.stringify({
                url: location.href.split('#')[0]
            }))
            xhr.onreadystatechange = function () {
                if(xhr.readyState == 4 && xhr.status ==200){
                    console.log(xhr.responseText);
                }
            }
        })
    </script>
</body>

</html>